h1{
    color: #5f4330;
    font-family: 英語筆記体フォント;
    font-size: 500%;
    text-align: center;
}
.bodie{
    top: 0;
    width: 80%;
    position: absolute;
    height: 100%;
    margin: 0;
    left: 20%;
}